<!doctype html>
<html>
<head>
<meta charset="utf-8">
 
 <title>My First Django project </title>
 <style>
  textarea {
    resize: none;
  }
  h1{
    font: bold;
  }
  #button {
  border: solid black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  }
  #button:hover {
  background-color: green; /* Green */
  color: white;
  }


</style>
 
</head>

<body>
<form action='reverse'>
<h1> Vice Versa </h1>


  <label for="my_project"></label>

  <textarea id="my_project" name="usertext" rows="4" cols="50"> </textarea>
  
 <div>
  <button id="button">Reverse!</button>
</div>
 
</form>
  

 
</body>
</html>